

body {
    background: #f4f4f4;
    margin-top: 0;
}

.header {
    height: 100px;
    background: #9c4bab;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.header p {
    margin-top: 10px;
    font-style: italic;
    font-size: x-large;
}
.header h1{
    font-weight: bolder;
    margin-top: 0;
}

.nav-bar {
    background: black;
    padding: 10px;
    text-align: center;
}

.nav-bar a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-size: 20px;
}

.nav-bar a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.content-card {
    width: 90%;
    margin: 30px auto;
    background: #e9d9a3;
    padding: 20px;
    border: 2px solid #a9a9a9;
    display: flex;
    justify-content: space-between;
}
.content-crad .img-div{
    width: 45px;
    height: 15px;
}
.text-div p {
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: larger;
    font-weight: bold;
}


.form{
    background: #e9d9a3;
    padding: 20px;
    width: 45%;

}

.contact h4{
    font-size: large;
    font-weight: bold;
    
}


.form form {
    display: flex;
    flex-direction: column;
}
.form-border{
        border: black 1px solid;
        padding: 20px;
}

.form-row{
    display: flex;
        flex-wrap: nowrap;
}

.form-row label{
    font-size: medium;
    padding-right: 30px;
    flex: 0 0 80px;
}

.form input,
.form textarea {
    margin-bottom: 12px;
    padding: 8px;
    border: 1px solid gray;
}

.form textarea {
    height: 60px;
}

.table{
    font-size: large;
    width: 1350px;
    height: 300px;
}
.table th{
    background-color: rgb(145, 110, 45);
    color: azure;
}
.table td{
    font-weight: bold;
    text-align: center;
}

button {
    width: 100px;
    padding: 6px;
    background: #9c4bab;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #7f388c;
}
